body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bg-gray {
    background-color: #353a40;
}

.cursor-pointer {
    cursor: pointer;
}

.opacity-40 {
    opacity: 0.4;
}

.btn-green {
    background-color: #a6ca50;
}

@media (max-width: 800px) {
    .conferencia-container {
        text-align: center !important;
        font-size: 12px;
        right: 5%;
    }
}

@media (max-width: 690px) {
    .conferencia-container {
        top: 25% !important;
        right: 0%;
    }
}

@media (max-width: 600px) {
    .conferencia-container {
        right: -2%;
    }
}

@media (max-width: 565px) {
    .conferencia-container {
        right: -3%;
    }
}

@media (max-width: 520px) {
    .conferencia-container {
        right: -10%;
        text-align: left !important;
    }
}

@media (max-width: 460px) {
    .conferencia-container {
        top: 10% !important;
        right: -20%;
    }
}

@media (max-width: 410px) {
    .conferencia-container {
        top: 2% !important;
        right: -37%;
    }
}

@media (max-width: 359px) {
    .conferencia-container {
        visibility: hidden;
    }
}
